/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0;
  /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.modal-window__button, .hero .hero__button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
}

.h-two, .modal-window__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}

.footer-join__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
}

.footer-join__title {
  color: #FFFFFF;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #757575;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*    outline: 2px solid greenyellow;*/
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.hidden-title {
  height: 1px;
  width: 1px;
  position: absolute;
  margin-left: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header--lined {
    border-bottom: 1px solid #ECECEC;
  }
}

@media screen and (max-width: 767px) {
  .mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
}
.mobile-menu__button {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__button .icon-cross {
  display: none;
}

.mobile-menu__button.is-open .icon-cross {
  display: block;
}

.mobile-menu__button.is-open .icon-menu {
  display: none;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo .logo__accent {
  color: #2196F3;
}

.page-header__logo {
  margin-right: 93px;
  line-height: 1.17;
}

.page-footer__logo {
  color: #FFFFFF;
  line-height: 1.19;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mobile-navigation {
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 15px;
    padding-top: 10px;
    background-color: goldenrod;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .mobile-navigation.is-open {
    display: block;
  }
  .mobile-navigation .navigation__list {
    margin-bottom: 306px;
  }
  .mobile-navigation .navigation__list .navigation__link {
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-navigation .navigation__list .navigation__link:hover {
    cursor: pointer;
    color: #2196F3;
  }
  .mobile-navigation .navigation__list .navigation__link:focus {
    color: #2196F3;
  }
  .mobile-navigation .navigation__list .item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-navigation .header-contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .mobile-navigation .header-contacts .header-contacts__icon {
    display: none;
  }
  .mobile-navigation .header-contacts .item:last-child {
    margin-bottom: 32px;
  }
  .mobile-navigation .header-contacts .item:last-child .header-contacts__link:last-child {
    color: #2196F3;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .mobile-navigation .header-contacts .header-contacts__link {
    color: #757575;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .mobile-navigation .menu-socials {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-navigation .menu-socials .item:not(:first-child) {
    padding-left: 10px;
  }
  .mobile-navigation .menu-socials .item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-navigation .menu-socials .menu-socils__link {
    color: #2196F3;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation .navigation__list {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navigation .navigation__list .item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation .navigation__list .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation .navigation__list .navigation__link:hover {
    cursor: pointer;
    color: #2196F3;
  }
  .navigation .navigation__list .navigation__link:focus {
    color: #2196F3;
  }
  .navigation .navigation__current-page {
    position: relative;
    display: inline-block;
    color: #2196F3;
  }
  .navigation .navigation__current-page::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
}
.navigation__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover {
  cursor: pointer;
  color: #2196F3;
}

.navigation__link:focus {
  color: #2196F3;
}

.header-contacts {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.header-contacts .header-contacts__item {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts .header-contacts__item .header-contacts__link {
  margin-left: 10px;
  color: currentColor;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
}
.header-contacts .header-contacts__item .header-contacts__icon {
  display: inline-block;
  fill: currentColor;
}

.header-contacts .item + .item {
  margin-left: 40px;
}

.header-contacts__item:hover {
  cursor: pointer;
  color: #2196F3;
}

.header-contacts__item:focus {
  color: #2196F3;
}

.header-contacts__item:focus-within {
  color: #2196F3;
}

.hero {
  display: block;
  text-align: center;
  background-color: #2F303A;
}
@media screen and (max-width: 479px) {
  .hero {
    width: 480px;
    height: 400px;
    padding: 118px 60px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/Hero_480x400.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/Hero_480x400@2x.webp);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    width: 768px;
    height: 400px;
    padding: 118px 204px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/Header_768x400.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/Header_768x400@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/desktop/Hero_1600x600.webp);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/desktop/Hero_1600x600@2x.webp);
  }
}
.hero .hero__title {
  width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero .hero__button {
  min-width: 200px;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  min-width: 450px;
  min-height: 609px;
  left: 50%;
  top: 50%;
  color: #212121;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .modal-window {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal-window .modal-window__crest-button {
  position: absolute;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  fill: currentColor;
}
.modal-window .modal-window__crest-button:focus, .modal-window .modal-window__crest-button:hover {
  color: #2196F3;
}

.modal.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.8) rotate(180deg);
}

.modal-window__paddings {
  padding: 40px;
}

.modal-window__title {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .modal-window__title {
    line-height: 1.15;
  }
}

.modal-window__form {
  width: 370px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .modal-window__form {
    width: 448px;
  }
}
.modal-window__form .modal-window__label {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #212121;
}
.modal-window__form .modal-window__label .modal-window__text {
  display: inline;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
  color: #757575;
}
.modal-window__form .modal-window__label .modal-window__input {
  display: inline-block;
  width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
@media screen and (min-width: 768px) {
  .modal-window__form .modal-window__label .modal-window__input {
    width: 448px;
  }
}
.modal-window__form .modal-window__label .modal-window__input:focus-within + .modal-window__icon {
  color: #2196F3;
}
.modal-window__form .modal-window__label .modal-window__input:focus-within {
  border-color: #2196F3;
  outline: #2196F3;
}
.modal-window__form .modal-window__label .modal-window__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: currentColor;
}
.modal-window__form .modal-window__label textarea.modal-window__input {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.modal-window__form .modal-window__label textarea.modal-window__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.modal-window__form .modal-window__label textarea.modal-window__input::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 768px) {
  .modal-window__form .modal-window__label textarea.modal-window__input::-moz-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal-window__form .modal-window__label textarea.modal-window__input::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}
.modal-window__form .modal-window__label:nth-of-type(4) {
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .modal-form {
    font-size: 14px;
    line-height: 1.7;
    padding-left: 12px;
  }
}
.modal-form .modal-form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.modal-form .modal-form__icon {
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
.modal-form .modal-form__text {
  color: #757575;
}
.modal-form .modal-form__link {
  color: #2196F3;
  margin-left: 3px;
  text-decoration: underline;
}
.modal-form .modal-form__input:checked + .modal-form__icon {
  border: 1px solid transparent;
  background-color: #2196F3;
  background-size: contain;
  background-origin: border-box;
}
.modal-form .modal-form__input:focus + .modal-form__icon {
  outline: 2px solid #2196F3;
  border-color: transparent;
}

.modal-window__button {
  width: 200px;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=main.css.map */