
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;
    
    
    $primary-background-white: #FFFFFF;
    $primary-title-textcolor: #212121;
    $accent-color: #2196F3;
    $text-color: #757575;
    $icon-color: #AFB1B8;
    
    $transicion-timing: cubic-bezier(0.4, 0, 0.2, 1);