.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms $transicion-timing;
}

.modal.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.modal-window {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    left: 50%;
    top: 50%;
    color: $primary-title-textcolor;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $transicion-timing;

    background-color: $primary-background-white;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    .modal-window__crest-button {
        position: absolute;
        height: 30px;
        top: 8px;
        right: 8px;
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        fill: currentColor;

        &:focus,
        &:hover {
            color: $accent-color;
        }
    }

}

.modal.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0.8) rotate(180deg);
}

.modal-window__paddings {
    padding: 40px;
}
.modal-window__title {
    @extend .h-two;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}
.modal-window__form {
    width: 448px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .modal-window__label {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 10px;
        color: $primary-title-textcolor;

        .modal-window__text {
            display: inline;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            text-align: left;
            margin-bottom: 4px;
            color: $text-color;
        }
        .modal-window__input {
            display: inline-block;
            width: 448px;
            height: 40px;
            padding-left: 42px;
            border: 1px solid #21212133;
            border-radius: 4px;
            outline: none;
        
            &:focus-within+.modal-window__icon {
                color: $accent-color;
            }
            
            &:focus-within {
                border-color: $accent-color;
                outline: $accent-color;
            }
        }
        .modal-window__icon {
            position: absolute;
            left: 12px;
            bottom: 11px;
            fill: currentColor;
        }
        textarea.modal-window__input {
            resize: none;
            height: 120px;
            padding: 12px 16px;
        }
    
        textarea.modal-window__input::placeholder {
            color: #75757580;
    
            font-size: 12px;
            font-weight: 400;
            line-height: 1.16;
            letter-spacing: 0.01em;
        }
    }
    .modal-window__label:nth-of-type(4) {
        margin-bottom: 20px;
    }
}
.modal-form {
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.7;
    text-align: left;

    .modal-form__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }
    .modal-form__icon {
        display: inline-block;
        border: 2px solid $primary-title-textcolor;
        border-radius: 2px;
        margin-right: 7px;
    }
    .modal-form__text {
        color: $text-color;
    }

    .modal-form__link {
        color: $accent-color;
        margin-left: 3px;
        text-decoration: underline;
    }
    .modal-form__input:checked + .modal-form__icon {
        border: 1px solid transparent;
        background-color: $accent-color;
        background-size: contain;
        background-origin: border-box;
    }

    .modal-form__input:focus + .modal-form__icon {
        outline: 2px solid $accent-color;
        border-color: transparent;
    }
}

.modal-window__button {
    @extend %main-button;
    width: 200px;
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
